<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>QQ for Mac 新功能</string>
	<key>Images</key>
	<array>
		<array>
			<string>图1</string>
			<string>new1.png</string>
			<string>图1的描述</string>
		</array>
		<array>
			<string>图2</string>
			<string>new2.png</string>
			<string>图2的描述</string>
		</array>
	</array>
</dict>
</plist>
