<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12E55</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SCTencentStock</string>
	<key>CFBundleIdentifier</key>
	<string>com.tencent.SCTencentStock</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SCTencentStock</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4H1003</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0462</string>
	<key>DTXcodeBuild</key>
	<string>4H1003</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012年 __MyCompanyName__. All rights reserved.</string>
	<key>SCExtensionPoints</key>
	<array>
		<string>SCTencentStockItem</string>
	</array>
	<key>SCExtensions</key>
	<array>
		<dict>
			<key>desc</key>
			<string>Tencent Stock Provider</string>
			<key>extensionPoint</key>
			<string>SCProvider</string>
			<key>name</key>
			<string>SCTencentStockProvider</string>
			<key>parameters</key>
			<dict>
				<key>providerDescription</key>
				<string>Tencent Stock</string>
				<key>providerIconName</key>
				<string>tencent_stock</string>
				<key>providerName</key>
				<string>Tencent Stock</string>
				<key>providerPluginName</key>
				<string>SCTencentStock.scplugin</string>
				<key>providerPreferenceRank</key>
				<integer>4</integer>
			</dict>
		</dict>
		<dict>
			<key>desc</key>
			<string>Tencent Stock Item</string>
			<key>extensionPoint</key>
			<string>SCTencentStockItem</string>
			<key>name</key>
			<string>SCTencentStockItem</string>
			<key>parameters</key>
			<dict>
				<key>matchPrefix</key>
				<string>stock</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
